version: 2.0
jobs:
 build:
    # ビルド済みイメージ：https://circleci.com/docs/ja/2.0/circleci-images/
    docker:
       - image: circleci/node:10-browsers
    steps:
       - checkout
       - run:
          name: 最初の一歩
            command: |
               echo 'Hello World!'
 deploy:
   macos:
      xcode: "9.0"
   steps:
     - attach_workspace:
        at: .
     - run:
        name: deploy to Firebase Hosting
        command: ./node_modules/.bin/firebase deploy --token=1//0edtdET4-RogaCgYIARAAGA4SNwF-L9Ir8eC9tdghqBDOgjuPUhwH6PJCox7xyL9uryduNTcYgQG3LLLhw_j5N_79ZTKkdt_mST8 # プロジェクト上のfirebase-toolsでデプロイします