dependencies:
    override:
        - npm install -g firebase-tools
    deployment:
        deploy:
        branch: master
        commands:
            - firebase deploy --project "$hosting-demo-7e4ab" --token "$FIREBASE_TOKEN"