version: 2.0
jobs:
 build:
   docker:
      - image: circleci/node:7.10
   working_directory: /
 deploy:
   macos:
      xcode: "9.0"
   steps:
     - attach_workspace:
        at: .
     - run:
        name: deploy to Firebase Hosting
        command: ./node_modules/.bin/firebase deploy --token=1//0edtdET4-RogaCgYIARAAGA4SNwF-L9Ir8eC9tdghqBDOgjuPUhwH6PJCox7xyL9uryduNTcYgQG3LLLhw_j5N_79ZTKkdt_mST8 # プロジェクト上のfirebase-toolsでデプロイします